*{padding: 0;margin: 0;font-size: 16px;line-height: 20px;font-family: \5FAE\8F6F\96C5\9ED1;}
a, a:visited{color:#337ab7;text-decoration: none;}
a:hover{opacity: 0.7;}
header{padding: 70px 0 70px 0;background-color: #4A6495}
h1{font-size: 36px;color:#fff;font-weight: normal;}
code{  padding: 2px 4px;font-size: 90%;color: #c7254e;background-color: #f9f2f4;border-radius: 4px;}
.content{width: 1000px;margin: auto}
.wrap{width: 1000px;margin: auto}
.content{margin-top: 80px;}
.list{width: 800px;}
.list .item{position: relative;padding-left: 70px;margin-top: 50px;}
.list .item .step{position: absolute;width: 36px;height: 36px;top:-3px;left:0;border: 5px solid #4A6495;border-radius: 23px;text-align: center;line-height: 36px;}
.list .item h2{font-size: 24px;font-weight: normal;}
.list .item p{line-height: 30px;margin-top: 10px}
nav{ width:100%; height:40px; line-height: 40px;background: #eee;}
nav ul{width:1000px;margin: 0 auto;}
nav ul li{width: 19%; height: 40px; line-height: 40px;float:left; text-align: center;list-style: none; }
nav .active{font-weight: bold;}
.main h2{font-size:20px;color: #4A6495;padding-bottom: 20px;}
.main p{line-height:24px;}
.footer{height: 50px; line-height: 50px; text-align: center;}
