<%include inc/header.html%>
<div id="dcMain">
	<!-- 当前位置 -->
	<div id="urHere">管理中心
		<b>></b>
		<strong>文章分类</strong></div>
	<div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
		<h3>
			<a href="/admin/catalog/add" class="actionBtn add">添加分类</a>文章分类</h3>
		<div id="list">
				<table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
					<tr>
						<th width="22" align="center">
							<input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
						<th width="40" align="center">编号</th>
						<th width="150" align="center">文章分类</th>
						<th width="80" align="center">操作</th></tr>
					<%list.forEach(function(item){%>
						<tr>
							<td align="center">
								<input type="checkbox" name="checkbox[]" value="'+<%=item.id%>+'" /></td>
							<td style="text-align:center;">
								<%=item.id%></td>
							<td align="center">
								<a href="#">
									<%=item.name%></a>
							</td>
							<td align="center">
								<a href="/admin/catalog/edit?id=<%=item.id%>" data-id="<%=item.id%>" class="catalog-edit">编辑</a>|
								<a href="#" data-id="<%=item.id%>" class="catalog-delete">删除</a></td>
						</tr>
						<%})%></table>
						<div class="action">
							<select name="action">
								<option value="0">请选择...</option>
								<option value="del_all">删除</option>
								<option value="del_all">全部删除</option>
							</select>
							<input name="submit" class="btn" type="submit" value="执行" />
					</div>
		</div>
		<div class="clear"></div>
	</div>
	<%include inc/footer.html%>
	<script>
	  $(function(){
		  
	    //删除分类
	    $(".catalog-delete").click(function(){
			if(confirm("确定要删除分类?")){
				var _id = $(this).attr('data-id');
				$.ajax({
					type: "POST",
					url: "/admin/catalog/delete",
					contentType: "application/json",
					dataType: "json",
					data: JSON.stringify({ "_id": _id}),
					success: function (result) {
						alert(result.msg);
						location.href = "/admin/catalog/list"
					},
					error : function() {
						alert(result.msg);
						return false;
					}
				});
			}else{
				return false;
			}
	    })
	  })
	</script>
