<%include inc/header.html%>

<div id="dcMain">
 <!-- 当前位置 -->
 <div id="urHere">管理中心
   <b>></b>
   <strong>添加文章</strong></div>
 <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
   <h3>
     <a href="/admin/product/list" class="actionBtn">文章列表</a>添加文章</h3>
   <form id="uploadForm" action="/admin/product/iadd" method="post" enctype="multipart/form-data">
     <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
       <tr>
         <td width="90" align="right">文章名称</td>
         <td>
           <input type="text" name="_name" value="" size="80" class="inpMain" id="name" /></td>
       </tr>
       <tr>
         <td align="right">文章分类</td>
         <td>
           <select name="_catalogId" id="catalogId">
             <option value="0">选择目录</option>
             <option value="1">产品</option>
             <option value="2">新闻</option>
             <option value="3">关于我们</option>
             <option value="4">联系我们</option></select>
         </td>
       </tr>
       <tr>
         <td align="right" valign="top">文章描述</td>
         <td>
           <!-- KindEditor -->
           <link rel="stylesheet" href="/static/Admin/js/kindeditor/themes/default/default.css" />
           <link rel="stylesheet" href="/static/Admin/js/kindeditor/plugins/code/prettify.css" />
           <script charset="utf-8" src="/static/Admin/js/kindeditor/kindeditor.js"></script>
           <script charset="utf-8" src="/static/Admin/js/kindeditor/lang/zh_CN.js"></script>
           <script charset="utf-8" src="/static/Admin/js/kindeditor/plugins/code/prettify.js"></script>
           <script>KindEditor.ready(function(K) {
               var editor1 = K.create('textarea[name="content"]', {
                 cssPath: '../plugins/code/prettify.css',
                 uploadJson: '../php/upload_json.php',
                 fileManagerJson: '../php/file_manager_json.php',
                 allowFileManager: true,
                 afterCreate: function() {
                   var self = this;
                   K.ctrl(document, 13,
                   function() {
                     self.sync();
                     K('form[name=example]')[0].submit();
                     alert('a')
                   });
                   K.ctrl(self.edit.doc, 13,
                   function() {
                     self.sync();
                     K('form[name=example]')[0].submit();
                   });
                 },
                 afterBlur: function() {
                   this.sync();
                 }
               });
               prettyPrint();
             });</script>
           <!-- /KindEditor -->
           <textarea id="intro" name="_intro" style="width:780px;height:400px;" class="textArea"></textarea>
         </td>
       </tr>
       <tr>
         <td align="right">缩略图</td>
         <td>
           <input type="file" name="image" size="38" class="inpFlie" /></tr>
       <tr>
         <td></td>
         <td>
           <button type="submit" id="addProduct" class="btn btn-default">添加</button></td>
       </tr>
     </table>
   </form>
 </div>
</div>
<div class="clear"></div>
<%include inc/footer.html%>
<script>

  /*$(function(){

    //添加文章
    $("#addProduct").click(function(){
      console.log($( '#uploadForm').serialize())

      $.ajax({
         url : "/admin/product/iadd",
         type : "POST",
         enctype: 'multipart/form-data',
         data : $( '#uploadForm').serialize(),
         success : function(data) {
              console.log(data)
         },
         error : function(data) {
            console.log(data)
         }
       });

      /*var _name = $('#name').val();
      var _intro = $('#intro').val();
      var _catalogId = $('#catalogId').val();
      var _joinTime = date2str(new Date(),"yyyy-MM-dd hh:mm");
      var _inpFlie = $('.inpFlie').val();

      $.ajax({
            type: "POST",
            url: "/admin/product/iadd",
            contentType: "application/json",
            dataType: "json",
            data: { "_name": _name,"_intro":_intro ,"_catalogId":_catalogId,"_joinTime":_joinTime,"_inpFlie":_inpFlie},
            success: function (result) {
               alert(result.msg);
               location.href = "/admin/product/list"
            },
            error : function() {
                 alert(result.msg);
                 return false;
            }
        });

    })

  })*/
</script>
