<%include inc/header.html%>

  <div class="content">
    
      <h2>“ 添加产品 ”</h2>
      <form  style="margin-top:100px;">
        <div class="form-group">
          <label for="exampleInputEmail1">产品名字</label>
          <input type="text" class="form-control"  placeholder="产品名字">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">产品简介</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
  </div>

<%include inc/footer.html%>
