<%include inc/header.html%>
<div id="dcMain">
	<!-- 当前位置 -->
	<div id="urHere">管理中心
		<b>></b>
		<strong>文章列表</strong></div>
	<div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
		<h3>
			<a href="/admin/product/add" class="actionBtn add">添加文章</a>文章列表</h3>
		<div class="filter">
			<form action="article.php" method="post">
				<select name="cat_id">
					<option value="0">未分类</option>
					<option value="1">公司动态</option>
					<option value="2">行业新闻</option>
				</select>
				<input name="keyword" type="text" class="inpMain" value="" size="20" />
				<input name="submit" class="btnGray" type="submit" value="筛选" /></form>
			<div class="action" style="float:right; margin-top:0px;">
				<select name="action" >
					<option value="0">请选择...</option>
					<option value="del_all">删除</option>
					<option value="move_all">移动到</option>
					</select>
							<select name="new_cat_id" style="display:none">
								<%list.forEach(function(item){%>
									<option value=<%=item.catalogId%></a>><%=item.name%></a></option>
								<%})%>
							</select>

				<input name="submit" class="btn" type="submit" value="执行" /></div>
		</div>
		<div id="list">
			<form name="action" method="post" action="article.php?rec=action">
				<table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
					<tr>
						<th width="22" align="center">
							<input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'></th>
						<th width="40" align="center">编号</th>
						<th align="left">文章名称</th>
						<th width="150" align="center">文章分类</th>
						<th width="150" align="center">操作日期</th>
						<th width="80" align="center">操作</th></tr>
					<%list.forEach(function(item){%>
						<tr>
							<td align="center">
								<input type="checkbox" name="checkbox[]" value="'+<%=item.id%>+'" /></td>
							<td align="center">
								<%=item.id%></td>
							<td>
								<a href="#">
									<%=item.title%></a>
							</td>
							<td align="center">
								<a href="#">
									<%=item.name%></a>
							</td>
							<td align="center">
								<%=item.joinTime%></td>
							<td align="center">
								<a href="/admin/product/edit?id=<%=item.id%>" data-id="<%=item.id%>" class="product-edit">编辑</a>|
								<a href="#" data-id="<%=item.id%>" class="product-delete">删除</a></td>
						</tr>
						<%})%></table>
			</form>
		</div>
		<div class="clear"></div>
		<div class="pager">总计 10 个记录，共 1 页，当前第 1 页 |
			<a href="article.php?page=1">第一页</a>上一页 下一页
			<a href="article.php?page=1">最末页</a></div>
	</div>
</div>
<div class="clear"></div>
<%include inc/footer.html%>
<script>

  $(function(){

    //删除文章
    $(".product-delete").click(function(){

			 if(confirm("确定要删除文章?")){

				 var _id = $(this).attr('data-id');

	       $.ajax({
	             type: "POST",
	             url: "/admin/product/delete",
	             contentType: "application/json",
	             dataType: "json",
	             data: JSON.stringify({ "_id": _id}),
	             success: function (result) {
	                 alert(result.msg);
	                 location.href = "/admin/product/list"
	             },
	             error : function() {
	                  alert(result.msg);
	                  return false;
	             }
	         });

			 }else{

				 return false;

			 }

    })

  })
</script>
