  <div id="dcFooter">
   <div id="footer">
    <div class="line"></div>
    <ul>
     版权所有 © 2013-2015
    </ul>
   </div>
  </div><!-- dcFooter 结束 -->
  <div class="clear"></div> </div>


    </body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/page.js"></script>

</html>
